# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/node_modules/mkdirp
/.pnp
.pnp.js

# unzipped Mugen
/mugen-1.1b1

# images
/images

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
node_modules/mkdirp/test/umask_sync.js
node_modules/mkdirp/test/umask.js
node_modules/mkdirp/test/sync.js
node_modules/mkdirp/test/root.js
node_modules/mkdirp/test/return_sync.js
node_modules/mkdirp/test/return.js
node_modules/mkdirp/test/rel.js
node_modules/mkdirp/test/race.js
node_modules/mkdirp/test/perm_sync.js
node_modules/mkdirp/test/perm.js
node_modules/mkdirp/test/opts_fs_sync.js
node_modules/mkdirp/test/opts_fs.js
node_modules/mkdirp/test/mkdirp.js
node_modules/mkdirp/test/clobber.js
node_modules/mkdirp/test/chmod.js
node_modules/mkdirp/readme.markdown
node_modules/mkdirp/package.json
node_modules/mkdirp/LICENSE
node_modules/mkdirp/index.js
node_modules/mkdirp/examples/pow.js
node_modules/mkdirp/bin/usage.txt
node_modules/mkdirp/bin/cmd.js
node_modules/mkdirp/.travis.yml
node_modules/.bin/mkdirp
node_modules/mkdirp/test/umask_sync.js
node_modules/mkdirp/test/umask.js
node_modules/mkdirp/test/sync.js
node_modules/mkdirp/test/root.js
node_modules/mkdirp/test/return_sync.js
node_modules/mkdirp/test/return.js
node_modules/mkdirp/test/rel.js
node_modules/mkdirp/test/race.js
node_modules/mkdirp/test/perm_sync.js
node_modules/mkdirp/test/perm.js
node_modules/mkdirp/test/opts_fs_sync.js
node_modules/mkdirp/test/opts_fs.js
node_modules/mkdirp/test/mkdirp.js
node_modules/mkdirp/test/clobber.js
node_modules/mkdirp/test/chmod.js
node_modules/mkdirp/readme.markdown
node_modules/mkdirp/package.json
node_modules/mkdirp/LICENSE
node_modules/mkdirp/index.js
node_modules/mkdirp/examples/pow.js
node_modules/mkdirp/bin/usage.txt
node_modules/mkdirp/bin/cmd.js
node_modules/mkdirp/.travis.yml
node_modules/.bin/mkdirp
node_modules/mkdirp/test/umask_sync.js
node_modules/mkdirp/test/umask.js
node_modules/mkdirp/test/sync.js
node_modules/mkdirp/test/root.js
node_modules/mkdirp/test/return_sync.js
node_modules/mkdirp/test/return.js
node_modules/mkdirp/test/rel.js
node_modules/mkdirp/test/race.js
node_modules/mkdirp/test/perm_sync.js
node_modules/mkdirp/test/perm.js
node_modules/mkdirp/test/opts_fs_sync.js
node_modules/mkdirp/test/opts_fs.js
node_modules/mkdirp/test/mkdirp.js
node_modules/mkdirp/test/clobber.js
node_modules/mkdirp/test/chmod.js
node_modules/mkdirp/readme.markdown
node_modules/mkdirp/package.json
node_modules/mkdirp/LICENSE
node_modules/mkdirp/index.js
node_modules/mkdirp/examples/pow.js
node_modules/mkdirp/bin/usage.txt
node_modules/mkdirp/bin/cmd.js
node_modules/mkdirp/.travis.yml
node_modules/.bin/mkdirp
